NEXT_POSTGRES_PASSWORD=
NEXT_POSTGRES_DB=next
NEXT_POSTGRES_USER=next
NEXT_HOSTNAME=localhost

ADMIN_USERNAME=admin
ROCKET_ADMIN_USERNAME=admin-rocket
ADMIN_PASSWORD=

DOMAINNAME=localhost
POSTGRES_MAJOR=17

LDAP_BASE_DN=cn=admin,dc=localhost

KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_DB=keyc
KEYCLOAK_POSTGRES_USER=keyc

REDMINE_POSTGRES_PASSWORD=
REDMINE_POSTGRES_DB=miner
REDMINE_POSTGRES_USER=redmine
REDMINE_SECRET=

LDAP_READER_DN=uid=reader,ou=special,dc=localhost
LDAP_READER_PASSWORD=
