ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

COLLABORA_DOMAIN_REGEX=(next|entint)\.entint\.org

NEXT_HOSTNAME=next
ROCKET_HOSTNAME=rocket

DOMAINNAME=entint.org
LDAP_BASE_DN=dc=entint,dc=org

NEXT_POSTGRES_PASSWORD=lala
NEXT_POSTGRES_DB=nextcloud
NEXT_POSTGRES_USER=nextcloud_user

KEYCLOAK_POSTGRES_PASSWORD=password
KEYCLOAK_POSTGRES_DB=keycloak
KEYCLOAK_POSTGRES_USER=keycloak

TEAP_FLASK_ENV=debug
TEAP_DATABASE_URL=sqlite:///tmp_db.sqlite
TEAP_SECRET_KEY=fdflxcesonot-so-secret

# Nextcloud
TEAP_NEXTCLOUD_HOST=http://next
TEAP_ROCKETCHAT_HOST=http://rocket
